<!DOCTYPE html>
<html lang="en">
{% extends 'store/manage.html' %}
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    {% block content %}
        {% comment %} <form class="form" method="POST">{%  csrf_token %}
            {{  form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save">
        </form>  {% endcomment %}
        <form action="/create/" class="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="form-control" name="name" placeholder="Book Name...">
            <input type="text" class="form-control" name="price" placeholder="Price...">
            <input type="file" name="image">
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    {% endblock %}
</body>
</html>