<!DOCTYPE html>
<html lang="en">
{% extends 'store/manage.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {#    <form class="form" method="POST">{%  csrf_token %}#}
    {#        {{  form.as_p }}#}
    {#        <input type="submit" class="btn btn-primary" value="Submit">#}
    {#    </form>#}
    <form action="/{{ book.id }}/update" class="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" class="form-control" name="name" value="{{ book.name }}">
        <input type="text" class="form-control" name="price" value="{{ book.price }}">
        <select class="form-control" name="drop-down" >

            {% for categori in category %}

                {% if book.category.id == categori.id %}
                    <option  selected value="{{ book.category.id }}" name="{{ categori.name }}">{{ book.category.name }}</option>
                {% else %}
                    <option  value="{{ categori.id }}" name="{{ categori.name }}">{{ categori.name }}</option>
                {% endif %}

            {% endfor %}

        </select>
        <img src="{{ book.imageURL }}" alt="{{ book.name }}">
        <input type="file" name="image" value="{{ book.imageURL }}">
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
{% endblock %}
</body>
</html>